/* shared styles */
* {
    margin: 0;
    padding: 0;
}

.span_tag {
    color: rgb(71, 20, 20);
}

.btn {
    margin-top: 10px;
    padding: 10px;
    /* background-color: lightslategray; */
    /* color: white; */
}

.btn:hover {
    color: brown;
    background-color: orange;
}

/* index.html */
/* header part start */

/* start navigiation bar */
.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darksalmon;
    color: rgb(20, 29, 71);
    padding: 30px;
}

.navhead a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.navhead a:hover {
    color: rgb(43, 105, 10);
    font-size: 35px;
}

.menulist {
    display: flex;
    list-style: none;
}

.menulist li a {
    margin-right: 50px;
    text-decoration: none;
    color: rgb(20, 29, 71);
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 20px;
    background-color: bisque;
    border-radius: 10px;
    cursor: pointer;
}

.menulist a:hover {
    color: orange;
    background-color: gray;
    font-size: 25px;
    padding: 8px 25px;
}

/* banner part start */
.banner_container {
    background-color: antiquewhite;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
}

.bannerhead {
    font-size: 30px;
    font-weight: bold;
    color: navy;
}

.bannerhead2 {
    font-size: 40px;
    font-weight: bold;
    color: navy;
    margin-bottom: 10px;
}

.banner_description p {
    font-size: 20px;
    color: rgb(79, 55, 55);
}

.bnrimg {
    /* height: 500px;
    width: 500px; */
    height: 500px;
    /* border: 0.5px solid slategrey; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px slategrey;
}

/* Reg.html */

#main_container {
    background-image: url('../images/background.jfif');
    background-size: cover;
    height: 100vh;

}

.bannerhead4 {
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px rgb(30, 29, 28);

}

.form_container {
    text-align: center;
    /* width: 500px; */
    width: 50%;
    height: 95vh;
    margin: auto;
    margin-bottom: 25px;
    /* box-shadow: 8px 8px 16px rgb(193, 88, 13); */
    box-shadow: 10px 10px 20px rgb(20, 20, 21);
}

.label_tag {
    display: block;
    text-align: left;
    padding: 15px;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold
}

.label_tag input {
    padding: 10px;
    background-color: antiquewhite;
    border: 0;

}

.txtarea {
    width: 71.5%;
}

.gends {
    font-weight: 400;
    margin-right: 40px;
}

.birth {
    width: 67%;
}

.passarea {
    width: 67.5%;
}

.agreatri {
    padding: 20px 200px 0 200px;
    color: rgb(0, 0, 0);

}

.btn1 {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: antiquewhite;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn1:hover {
    background-color: rgb(204, 179, 146);
    color: rgb(179, 46, 46);
}

.ancor {
    text-decoration: none;
    color: rgb(129, 212, 161);

}

/* login part start */
.logmain {
    height: 100vh;
    background-image: url('../images/lockback.jpg');
    background-size: cover;
}

.log_container {
    width: 50vh;
    height: 70vh;

    /* margin-top: 8%; */
}

.logpassarea {
    width: 80%;
}

.forgot {
    /* text-align: right; */
    width: 40%;
    margin-left: 52%;
    margin-bottom: 5px;
    /* border: 3px solid yellow; */
    /* padding: 25px; */
}

.forgot a {

    text-decoration: none;

}